.app h1{
    color: red;
}

.dark {
    background: black;
}
.dark h1 {
    color: white;
}
.dark li{
    color: white;
}

.appbar-container {
    display: flex;
    align-items: space-between
}

.timer {
    display: flex;
    margin-left: 'auto';
}

.title {
    display: flex;
}